@import '../../../../assets/scss/rwd-queries';

.p-datatable-header {
    //padding-top: 44px;
    @include mediumScreen {
        height: 80px !important;
    }
    @media (max-width: 600px) {
        height: 80px !important;
    }
}

.conta-table-header {
    height:50px !important;
    @include mediumScreen {
        height: 80px !important;
    }
    @media (max-width: 600px) {
        height: 80px !important;
    }
}

.conta-search-field {
    @media (max-width: 600px) {
        width: 160px;
    }
}