/*  Monochromatic Colors */
$black: #000;
$white: #fff;

/*  Colors  */
$anpg-red: #fbc02d;
$anpg-bright-red: #BDBDBD;
$anpg-grey: #b5b6b3;
$eighty-black: #313131;
$anpg-light-grey: #d4d4d6;
$dark-grey: #6c757d;
$light-grey: #f1f1f1;
$anpg-gold: #a89260;

$success: #689f38;
$alert: #fbc02d;

/* Effect colors */
$light-red: #fde3e3;
$boxShadowColor: #faa6a6;
$grayedBackground: #FAFAFA;
